@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overscroll-behavior: none;
  @apply text-clrBlack bg-clrBeige dark:text-clrWhiteOpa dark:bg-clrDarkNavy;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
